<h1 class="mb-4">Home</h1>
<%= link_to 'New movie', new_movie_path, class: 'btn btn-primary btn-lg' %>

<% @all_movies.each do |movie| %>
  <article class="card mt-3">
    <div class="card-body">

      <h4><%= link_to movie.title, movie_path(movie) %></h4>
      <h4><%= movie.body %></h4>
      <h4><% movie.categories&.each do |category| %>
            <%= link_to category.name, category_path(category)%>
          <% end %>
      </h4>
    </div>
  </article>
<% end %> 