<% provide :page_title, 'Admin Categories' %>
<% currently_at 'Category' %>

<h1 class="mb-4">Admin Categories</h1>

<%= pagination @pagy %>

<%= link_to 'New category', new_admin_category_path, class: 'btn btn-primary'%>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>

<%= pagination @pagy %>