<% provide :page_title, "Category"%>
<% currently_at 'Category'%>

<h1 class="mb-4">All category</h1>

<% @categories.each do |category| %>
  <article class="card mt-3">
    <div class="card-body">
      <h4><%= category.name %></h2>

      <%= link_to 'Show', category_path(category), class: 'btn btn-primary' %> 
      <% if current_user.role == "admin"%>
        <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-secondary' %>
        <%= link_to 'Destroy', category_path(category), class: 'btn btn-danger',
          data: {method: :delete, confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </article>
<% end %>

